* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus { outline: none; }

/*  Basic styling 
	============================================================= */ 
html,
body {
	background-color: #fff;
	color: #555;
	font-family: 'Quicksand';
	font-size: 20px;
	font-weight: 300;
	/* Renders text clean */
	text-rendering: optimizeLegibility;
	overflow-x: hidden; /* when media 500px or less, text overflows screen */
}

.aclonica-font {
	font-family: 'Aclonica';
	color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.br-rounded {
	border-radius: 2rem !important;
}













  /*All css*/
/*-------------------------------------------------------*/
/*HomePage Layout*/


.homepage_container{
	position: fixed;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
}
.fullscreen_background{
		width: 100%;
		height: 100%;
		position: fixed;
		background: url('./images/b2.jpg');
		background-size: cover;
		background-position: 40%;
}
.homepage_content{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
		display: flex;
align-items: center;
}
.homepage_header{
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
	top: 0;
}
.header_title{
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
}
.homepage_body{
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 14px;
	width: 90vw;
	margin: 15vh auto;
}
.homepage_body_title{
	font-size: 4em;
}
.homepage_body_text{
	font-size: 2em;
	margin: 5vh 0;
}
.homepage_body_subtext{
	font-size: 1.5em;
	margin: 2vh 0;
}
.start_button{
	position: relative;
box-sizing: border-box;
margin: 5vh 0;
}
.start_button a{
		padding: 10px;
box-sizing: border-box;
background: #6d0ee8;
border-radius: 10px;
font-size: 1.5em;
color: #ffffff;
}
.start_button a:hover{
	text-decoration: none;
	background: #2a035c;
}






  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #6d0ee8;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #6d0ee8;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #6d0ee8 inset;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ffffff;
	opacity: 1; /* Firefox */
  }